<template>
  <div id="app">

    <el-container>
      <el-header>
        <h1>Terry's Gif Searcher!!!!</h1>
      </el-header>
      <el-main>
        <el-input placeholder="Please enter something to search for..." v-model="searchTerm" clearable>
        </el-input>
        <el-button type="primary" @click="getGifs" round>Search</el-button>
        <div class="gif-container">
          <img v-for="gif in gifs" :key="gif.id" :src="gif">
        </div>
      </el-main>
      <el-footer>
        <div class="block">
          <el-pagination v-if="gifs.length > 0" layout="prev, pager, next" :total="50" :current-page="1">
          </el-pagination>
        </div>
      </el-footer>
    </el-container>

  </div>
</template>

<script>
export default {
  data() {
    return {
      searchTerm: "",
      gifs: []
    };
  },
  methods: {
    getGifs() {
      let apiKey = "dc6zaTOxFJmzC";
      let searchEndPoint = "https://api.giphy.com/v1/gifs/search?";
      let limit = 10;
      let url = `${searchEndPoint}&api_key=${apiKey}&q=${
        this.searchTerm
      }&limit=${limit}`;

      if (!this.searchTerm) {
        this.showErrorMsg();
      } else {
        fetch(url)
          .then(response => {
            return response.json();
          })
          .then(json => {
            // console.log(json);
            this.buildGifs(json);
          })
          .catch(err => {
            console.log(err);
          });
      }
      // console.log(url);
    },
    buildGifs(json) {
      // save the returned results to gifs array
      this.gifs = json.data.map(gif => gif.id).map(gifId => {
        return `https://media.giphy.com/media/${gifId}/giphy.gif`;
      });
      console.log(this.gifs);
    },
    showErrorMsg() {
      this.$message({
        message: "Please enter something...",
        type: "warning",
        center: true,
        showClose: true
      });
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.gif-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
